<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Elliott Wagner" />
    <link rel="icon" href="/images/icon.png">
    <link rel="stylesheet" type="text/css" href="/css/it.css">
    <script src="https://kit.fontawesome.com/dcc0625c67.js" crossorigin="anonymous"></script>
    <title>IT</title>
</head>
<body>
<nav id="itNav">
    <h1 id="title">IT</h1>
    <ul>
        <li><a>Overview</a></li>
        <li><a>Strengths and Weaknesses</a></li>
        <li><a href="https://github.com/si1ent-306" target="_blank">GitHub</a></li>
        <li><a>Experiences</a></li>
        <li><a>Education</a></li>
        <li><a>Personal Projects</a></li>
        <li><a>Other</a></li>
    </ul>
</nav>
    <i class="fa-sharp-duotone fa-solid fa-circle-half-stroke" onclick="myFunction()" id="switchbtn"></i>
<script>
    function myFunction() {
        let element = document.body;
        element.classList.toggle("light");
    }

</script>
</body>
</html>