<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scoreboard - Account</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="Elliott Wagner (and AI)" name="author"/>
    <script src="/scripts/scoreboard/index.js"></script>
    <meta content="Elliott Wagner's website that shows off his IT and Announcing side." name="description">
    <link href="/images/icon.png" rel="icon">
    <link href="/css/scoreboard/scoreboard.css" rel="stylesheet" type="text/css">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/dcc0625c67.js"></script>
</head>
<body>
<!--This is for the login/signup form-->
<div id="login-and-signup">
    <div id="login">
        <form id="login-form">
            <h1>Login</h1>
            <label for="name">Name: </label>
            <input id="name" type="text">

            <label for="password">Password: </label>
            <input id="password" type="text">

            <button id="loginBtn" type="submit">Login</button>
        </form>
    </div>
    <button id="create-account">Create a new account</button>
    <div id="signup">
        <form id="signup-form" style="display: none">
            <h1>Signup</h1>
            <label for="sName">Name: </label>
            <input id="sName" type="text">

            <label for="sPassword">Password: </label>
            <input id="sPassword" type="text">

            <button id="signUpBtn" type="submit">Sign Up</button>
        </form>
    </div>
</div>
<!--This is for the account info-->
<div id="accountInfo" style="display: none">
    <button id="sign-out">Sign Out</button>
    <button id="editAcc">Edit Account</button>
    <h1 id="accName">Account Name</h1>
    <img alt="account image" id="accImage" src="">
    <img alt="account background" id="accBackground" src="">
    <div id="favLeagues">
        <ul id="favLeagues-list">

        </ul>
    </div>
    <div id="favTeams">
        <ul id="favTeams-list">

        </ul>
    </div>
    <div id="favGames">
        <ul id="favGames-list">

        </ul>
    </div>
</div>
</body>
</html>